<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmls:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DS-Residenciales</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <!--link th:href="@{/css/styles.css}" rel="stylesheet" /-->
        <link rel="icon" href="images/casa.png" type="image/x-icon">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <header th:fragment="header">
            <div th:object="${mensajes}"></div>
            <nav class="sb-topnav navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
                <!-- Navbar Brand  e3f2fd -->

                <!--div class="card bd-light" style="width: 14rem; height:3rem; background-color: #e3f2fd;" >
                    <div class="card-body">
                        <h5 class="card-title " style="align-content: center"><p class="text-success"></p></h5>
                    </div>
                </div-->


                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

                <!-- Navbar-->
                <ul class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

                </ul>
                <ul  class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                            <i id="alerta" class="fas fa-bell fa-fw"></i>
                            <!--i class="fa-solid fa-bell fa-shake" th:if="${mensajes != null and !mensajes.empty}"></i-->
                        </a>
                        <ul id="mensajeList" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                            <!--li th:each="mensaje : ${mensajes}">
                            <!--a class="dropdown-item" href="" th:text="${mensaje.descripcion} + ${mensaje.asunto}"></a-->
                            </li-->
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="fas fa-user fa-fw"></span> <span sec:authentication="name"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/perfil}">Perfil</a></li>
                            <li><a class="dropdown-item" th:href="@{/cambiapass}">Cambiar contraseña</a></li>
                            <li><a class="dropdown-item" th:href="@{/contacto}">Contactos</a></li>
                            <li><form method="POST" th:action="@{/logout}">
                                    <button class="dropdown-item" type="submit">Cerrar Sesión</button>
                                </form></li>
                        </ul>
                    </li>
                </ul>
                <!--ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!"><span sec:authentication="name"></span></a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" th:href="@{/perfil}">Perfil</a></li>
                            <li><a class="dropdown-item" th:href="@{/cambiapass}">Cambiar contrase&ntilde;a</a></li>
                            <li><a class="dropdown-item" th:href="@{/contacto}">Contactos</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><form method="POST" th:action="@{/logout}"><a class="dropdown-item" onclick="this.parentNode.submit();" href="#!">Cerrar Sesion</a></form></li>
                        </ul>
                    </li>
                </ul-->
            </nav>
        </header>
        <div th:fragment="menu">
            <!-- barra vertical -->
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion" style="background-color: #e3f2fd;">
                    <div>
                        <a th:href="@{/}"><img th:src="@{/images/logo4.jpeg}" class="img-thumbnail" width="223" height="height" alt="alt"/></a>
                    </div>
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <!--<!-- CATÁLOGO -->
                            <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')" class="sb-sidenav-menu-heading">Cat&aacute;logos</div>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/residencial">
                                <div class="sb-nav-link-icon"><i class="fas fa-city fa-xl"></i></div>
                                <span class="text-success">Residenciales</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/usuario">
                                <div class="sb-nav-link-icon"><i class="fas fa-users fa-xl"></i></div>
                                <span class="text-success">Usuarios</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link" href="/usuariores">
                                <div class="sb-nav-link-icon"><i class="fas fa-users fa-xl"></i></div>
                                <span class="text-success">Usuarios</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/empleado">
                                <div class="sb-nav-link-icon"><i class="fas fa-building-user fa-xl"></i></div>
                                <span class="text-success">Empleados</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link" href="/empleadores">
                                <div class="sb-nav-link-icon"><i class="fas fa-building-user fa-xl"></i></div>
                                <span class="text-success">Empleados</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/rol">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users-gear fa-xl"></i></div>
                                <span class="text-success">Rol</span>
                            </a>
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')" class="nav-link" href="/listaUsuarios">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-user fa-xl"></i></div>
                                <span class="text-success">Asignar Rol</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link" href="/servicio">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-screwdriver-wrench fa-xl"></i></div>
                                <span class="text-success">Servicios</span>
                            </a>
                            <!--<!-- OPERACIONES -->
                            <div sec:authorize="hasAnyRole('ROLE_USER','ROLE_EMPLOYEE')"  class="sb-sidenav-menu-heading">Operaciones</div>

                            <a sec:authorize="hasAnyRole('ROLE_USER','ROLE_EMPLOYEE')" class="nav-link" href="/solicitud">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-wrench fa-xl"></i></div>
                                <span class="text-success" th:text="${#authorization.expression('hasRole(''ROLE_USER'')') ? 'Solicitud de Servicio' : 'Atender Servicio'}">Solicitud de Servicio</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" href="/gestion">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard fa-xl"></i></div>
                                <span class="text-success">Solicitar Gesti&oacute;n</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link" href="/gestion">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard fa-xl"></i></div>
                                <span class="text-success">Gestiones</span>
                            </a>
                            <a sec:authorize="hasAnyRole('ROLE_USER','ROLE_EMPLOYEE')" class="nav-link" href="/anomalia">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-pen-clip fa-xl"></i></div>
                                <span class="text-success" th:text="${#authorization.expression('hasRole(''ROLE_USER'')') ? 'Ingresar Anomalía' : 'Atender Anomalía'}">Ingresar Anomal&iacute;a</span>
                            </a>

                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link" href="/general">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-envelopes-bulk fa-xl"></i></div>
                                <span class="text-success">Notificaci&oacute;n General</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link" href="/especifica">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-envelope-open-text fa-xl"></i></div>
                                <span class="text-success">Notificaci&oacute;n Espec&iacute;fica</span>
                            </a>
                            <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" href="/buzon">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-envelope fa-xl"></i></div>
                                <span class="text-success">Buzon</span>
                            </a>
                            <!--<!-- REPORTES -->
                            <div sec:authorize="hasRole('ROLE_EMPLOYEE')"  class="sb-sidenav-menu-heading">Reportes</div>
                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link" href="/reporte1">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-file fa-xl"></i></div>
                                <span class="text-success">Reporte de Eventos</span>
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Version 1.0</div>

                    </div>
                </nav>
            </div>
        </div>   
        <footer th:fragment="footer" class="py-4 bg-light mt-auto">

            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; DS-Residenciales 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>

        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            /*function actualizarMensajes() {
             $.get("/obtenerMensajes", function (data) {
             alert("actualiza");
             // Limpiar la lista de mensajes existente
             $("#mensajeList").empty();
             
             // Iterar sobre los nuevos mensajes y agregarlos a la lista
             $.each(data, function (index, mensaje) {
             $("#mensajeList").append(
             '<li><a class="dropdown-item" href="#!" th:text="' +
             mensaje.asunto + '">Notificaciones</a></li>'
             );
             });
             });
             }
             
             // Actualizar los mensajes cada cierto intervalo de tiempo (por ejemplo, cada 10 segundos)
             setInterval(actualizarMensajes, 10000); // 10000 milisegundos = 10 segundos*/
        </script>
    </body>
</html>
