<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DS-Residenciales</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="js/util.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <!--header th:replace="layout/plantilla :: header"></header-->
    <th:block th:replace="~{layout/plantilla :: header}"></th:block>
    <!-- barra vertical -->
    <div id="layoutSidenav">
        <!--div th:replace="layout/plantilla :: menu" id="layoutSidenav_nav"></div-->
        <th:block th:replace="~{layout/plantilla :: menu}"></th:block>
        <div id="layoutSidenav_content">
            <main>
                
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Empleado</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active"></li>
                    </ol>

                    <nav class="navbar navbar-light bg-light">
                        <form class="container-fluid justify-content-start">
                            <a class="btn btn-outline-success me-2" role="button" th:href="@{/agregaremp}">Crear Empleado        <i class="fa-solid fa-user-plus"></i></a>

                        </form>
                    </nav>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Empleados
                        </div>

                        <div class="card-body">
                            <div th:if="${usuarios != null and !usuarios.empty}">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Email</th>
                                            <th>Tel&eacute;fono</th>
                                            <th>Residencial</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Email</th>
                                            <th>Tel&eacute;fono</th>
                                            <th>Residencial</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="usuario : ${usuarios}">
                                            <td th:text="${usuario.nombre}">Mostrar Nombre</td>
                                            <td th:text="${usuario.nombreUsuario}">Mostrar usuario</td>
                                            <td th:text="${usuario.email}">Mostrar Email</td>
                                            <td th:text="${usuario.telefono}">Mostrar Telefono</td>
                                            <td th:text="${usuario.residencial.name}">Mostrar Puesto</td>
                                            <!--td>
                                                <span th:if="${usuario.foto != null and not #strings.isEmpty(usuario.foto)}">
                                                    <img th:src="${usuario.foto}" alt="Foto de Perfil" height="100">
                                                </span>
                                                <span th:if="${usuario.foto == null or #strings.isEmpty(usuario.foto)}">
                                                    <img src="images/sinimagen.jpeg" alt="Foto de Perfil" height="100" />
                                                </span>
                                            </td>
                                            <td th:text="${usuario.estado}==1?'Activo':'Inactivo'">Mostrar Estado</td-->
                                            <td><a class="btn btn-info" role="button"  th:href="@{/editaremp(idUsuario=${usuario.idUsuario})}" th:text="Editar"/></td>
                                            <td><a class="btn btn-danger" role="button"  th:onclick="confirmarEliminacion([[(${usuario.idUsuario})]],'/eliminaremp?idUsuario=');" th:text="Eliminar"/></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--footer th:replace="layout/plantilla :: footer"></footer-->  
            <th:block th:replace="~{layout/plantilla :: footer}"></th:block>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="js/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js/mensajes.js"></script>
</body>
</html>
